.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first > .country:nth-child(1) {
  order: 5;
}

.countries--second .country--croatia {
  order: 1;
}
.countries--second .country--ethiopia {
  order: 2;
}
.countries--second .country--laos {
  order: 3;
}
.countries--second .country--brazil {
  order: 4;
}
.countries--second .country--uganda {
  order: 5;
}
.countries--third > .country:nth-child(1) {
  order: 5;
}
.countries--third > .country:nth-child(2) {
  order: 4;
}
.countries--third > .country:nth-child(3) {
  order: 3;
}
.countries--third > .country:nth-child(4) {
  order: 2;
}
.countries--third > .country:nth-child(5) {
  order: 1;
}
