/* Add your own CSS code below */
span {
  color: #c85308;
}

.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul {
  display: flex;
  justify-content: space-between;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

nav {
  display: flex;
  justify-content: center;

  width: 100%;
}

@media only screen and (min-width: 992px) {
  .hero__title {
    font-size: 75px;
  }
}
@media only screen and (min-width: 767px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  nav {
    display: flex;
  }
  .main-nav {
    display: flex;
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
}
article {
  max-width: 50em;
  line-height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.site-content {
  display: flex;

  justify-content: center;
}
